html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 1;
    padding: 3;
    font-family: 'Public Sans', sans-serif;
    line-height: 10;
}

.flex {
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ac-c{
        justify-content: space-between;
        align-items: center;
    }

    }
